<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Ballot</ion-title>
    <ion-buttons slot="primary">
      <ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let v of votes">
      <ion-label position="floating">{{v.name}}.) {{v.description}}</ion-label>
      <ion-input type="number" [(ngModel)]="v.carNumber"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="tertiary" (click)="saveBallot()">Save Ballot</ion-button>
  </ion-toolbar>
</ion-footer>
